In [1]:
import pandas as pd
import itertools

In [2]:
data = {'Transactions': [10, 7, 5, 11, 12, 9,18],
        'Eric': [10,0,0,0,0,0,7],
        'B': [0,7,0,0,0,0,0],
        'C': [0,0,5,0,0,0,5],
        'D': [0,0,0,11,0,0,3],
        'E': [0,0,0,0,12,0,2],
        'F': [0,0,0,0,0,9,1],
       }

In [3]:
data = {'Transactions': [100,3,5,8,10],
        'Eric': [100,3,0,0,0],
        'B': [0,0,5,0,0],
        'C': [0,0,0,0,0],
        'D': [0,0,0,8,0],
        'E': [0,0,0,0,10],
        'F': [0,0,0,0,0],
       }

In [4]:
data = {'Transactions': [100,3,5,8,10],
        'Eric': [50,3,0,0,0],
        'B': [50,0,5,0,0],
        'C': [0,0,0,0,0],
        'D': [0,0,0,8,0],
        'E': [0,0,0,0,10],
        'F': [0,0,0,0,0],
       }

In [5]:
#what if some transactions only apply to certain members?
data = {'Transactions': [86.2,25.4,163.5,81,268,12.42,37.85],
        'Eric': [0,0,0,0,268,12.42,0],
        'Mo': [86.2,25.4,0,0,0,0,0],
        'Harris': [0,0,163.5,0,0,0,0],
        'Shawaiz': [0,0,0,81,0,0,0],
        'Matt': [0,0,0,0,0,0,37.85],
       }

In [6]:
data = {'Transactions': [10,20,30],
        'A':[10,0,0],
        'B':[0,20,0],
        'C':[0,0,30],
       }

In [7]:
data = {'Transactions': [10,20,30,40,50,60,70,80,90,100],
        'A':[10,0,30,0,0,0,0,0,0,50],
        'B':[0,20,0,0,0,0,0,0,0,0],
        'C':[0,0,0,40,0,0,0,0,0,10],
        'D':[0,0,0,0,50,0,0,0,0,0],
        'E':[0,0,0,0,0,60,0,0,0,40],
        'F':[0,0,0,0,0,0,70,0,0,0],
        'G':[0,0,0,0,0,0,0,80,0,0],
        'H':[0,0,0,0,0,0,0,0,90,0],
       }

In [8]:

df = pd.DataFrame(data)
number_users = df.shape[1]-1
user_sums= []
for i in range(number_users):
    user_sums.append(sum(df.iloc[:,i+1]))
totalcost = sum(df.Transactions)
totalcost_per_user = round(totalcost/number_users,2)
difference_per_user = [(x - totalcost_per_user) for x in user_sums]
difference_per_user_2 = difference_per_user

In [9]:
df

   Transactions   A   B   C   D   E   F   G   H
0            10  10   0   0   0   0   0   0   0
1            20   0  20   0   0   0   0   0   0
2            30  30   0   0   0   0   0   0   0
3            40   0   0  40   0   0   0   0   0
4            50   0   0   0  50   0   0   0   0
5            60   0   0   0   0  60   0   0   0
6            70   0   0   0   0   0  70   0   0
7            80   0   0   0   0   0   0  80   0
8            90   0   0   0   0   0   0   0  90
9           100  50   0  10   0  40   0   0   0

# Calculate Minimum number of transactions

In [10]:
difference_per_user

[21.25, -48.75, -18.75, -18.75, 31.25, 1.25, 11.25, 21.25]

In [11]:
#Test_cases
print(difference_per_user)
#difference_per_user = [145.55, -23.27, 28.63, -53.87, -97.02]
#difference_per_user = [5.0, -5.0, -2.0, 2.0, 2.0, -2.0]
#difference_per_user = [-10.0, 0.0, 10.0]
#difference_per_user =[32.0, 34.0, -21.0, -13.0, -11.0, -21.0]

[21.25, -48.75, -18.75, -18.75, 31.25, 1.25, 11.25, 21.25]

In [12]:
#Assumes that all transactions are split evenly!

#due to how floats are represented, there will be floating point errors, therefore 
#sum(difference_per_user) will never = 0, set max(dpe)>0.05 as the cut-off condition for now

def calculate_transactions(difference_per_user):
    difference_per_user=difference_per_user
    max_elem= 0
    min_elem= 0

    number_transact=0
    stored_transactions = [] #format = [[recipient,sender,amount]]
    
    
    while max(difference_per_user)>0.05: 

        max_elem= max(difference_per_user)
        max_index = difference_per_user.index(max_elem)

        min_elem = min(difference_per_user)
        min_index = difference_per_user.index(min_elem)

        #print("Max element = {}, Min element = {}".format(max_elem,min_elem))
        #print(difference_per_user)
        #print("Transactions = ",number_transact)

        if (max(difference_per_user)<0.1): #account for floating point errors
            difference_per_user = [0] * len(difference_per_user) 
        else:
            number_transact += 1
            if (max_elem+min_elem) == 0: #perfect transaction, max = 0, min = 0
                difference_per_user[max_index] = 0
                difference_per_user[min_index] = 0
                stored_transactions.append([max_index,min_index,max_elem])

            elif (max_elem+min_elem)<0: #max is fully paid with remainder: max = 0, min =min+max

                difference_per_user[max_index] = 0
                difference_per_user[min_index] = round(max_elem+min_elem,2)
                stored_transactions.append([max_index,min_index,round(max_elem,2)])

            elif (max_elem+min_elem)>0: #max debt isn't fully paid: max = max-|min|, min = 0

                difference_per_user[max_index] = round(max_elem+min_elem,2)
                difference_per_user[min_index] = 0
                stored_transactions.append([max_index,min_index,round(min_elem,2)])
    #print(difference_per_user)
    #print("Transactions = ",number_transact)            
    
    return stored_transactions

In [13]:
difference_per_user

[21.25, -48.75, -18.75, -18.75, 31.25, 1.25, 11.25, 21.25]

In [14]:
stored_transactions = calculate_transactions(difference_per_user)

In [15]:
stored_transactions

[[4, 1, 31.25],
 [0, 2, -18.75],
 [7, 3, -18.75],
 [6, 1, 11.25],
 [0, 1, 2.5],
 [7, 1, 2.5],
 [5, 1, 1.25]]

In [16]:
for idx,x in enumerate(stored_transactions):
    print("Transaction {} : {} receives {} from {}".format(idx+1,df.columns[x[0]+1],x[2],df.columns[x[1]+1]))

Transaction 1 : E receives 31.25 from B
Transaction 2 : A receives -18.75 from C
Transaction 3 : H receives -18.75 from D
Transaction 4 : G receives 11.25 from B
Transaction 5 : A receives 2.5 from B
Transaction 6 : H receives 2.5 from B
Transaction 7 : F receives 1.25 from B